{{>header}}

<h2>Add a tech</h2>

<form method='POST' action='/add-tech' >
  <input type = "text" id='tech' placeholder = 'add a tech' name='tech'>
  <input type = "text" id='description' placeholder = 'description' name='description'>
  <input type = "text" id='language' placeholder = 'language' name='language'>
  <input type = "text" id='author' placeholder = 'author' name='author'>
  <input type = "text" id='rating' placeholder = 'rating' name='rating'>
  <input type = "submit" value="SUBMIT" >
</form>

<a href = "./">Home</a>
