{{>header}}
<a href = "./">Home</a><br>

<form method='POST' action='/add-tech' >
  <input type = "text" id='name' placeholder = 'add a tech' name='name'>
  <input type = "text" id='description' placeholder = 'description' name='description'>
  <input type = "text" id='language' placeholder = 'language' name='language'>
  <input type = "text" id='author' placeholder = 'author' name='author'>
  <input type = "text" id='rating' placeholder = 'rating' name='rating' <i class="fas fa-thumbs-up"></i>
  <input type = "submit" value="SUBMIT" >
</form>
