<<<<<<< HEAD
{{>header}}
<a href = "./">Home</a><br>
=======
<h2>Add a tech</h2>
>>>>>>> e238985a9c9b50971c6f54ef6c94d55fd97a76c1

<form method='POST' action='/add-tech' >
  <input type = "text" id='name' placeholder = 'add a tech' name='name'>
  <input type = "text" id='description' placeholder = 'description' name='description'>
  <input type = "text" id='language' placeholder = 'language' name='language'>
  <input type = "text" id='author' placeholder = 'author' name='author'>
  <input type = "text" id='rating' placeholder = 'rating' name='rating' <i class="fas fa-thumbs-up"></i>
  <input type = "submit" value="SUBMIT" >
</form>
