<<<<<<< HEAD
{{>header}}
<a href = "./">Home</a><br>
=======
<!-- {{> header}} -->

<h2>Add a tech</h2>
>>>>>>> 0270e1a26ae539b85b88d5e19cd0302a732f90b1

<form method='POST' action='/add-tech' >
  <input type = "text" id='name' placeholder = 'add a tech' name='name'>
  <input type = "text" id='description' placeholder = 'description' name='description'>
  <input type = "text" id='language' placeholder = 'language' name='language'>
  <input type = "text" id='author' placeholder = 'author' name='author'>
  <input type = "text" id='rating' placeholder = 'rating' name='rating'>
  <input type = "submit" value="SUBMIT" >
</form>
