{{>header}}

<h2>Add a tech</h2>

<form>
  <input type = "text" placeholder = 'add a tech'>
  <input type = "text" placeholder = 'description'>
  <input type = "text" placeholder = 'language'>
  <input type = "text" placeholder = 'author'>
  <input type = "text" placeholder = 'rating'>
  <input type = "submit" value="SUBMIT" >
</form>

<a href = "./">Home</a>
