
<h1>Search and Review <span id='technologyH1'>Technology</span></h1>
<input id='search' type='text' placeholder="Search"  />
<section id='container'>
{{#each techs}}
<ul>
<!-- <section id='tech'> -->
  <li><a href='./technology/{{name}}'</a> {{name}}</li>
<!-- </section> -->
</ul>

{{/each}}
</section>

<footer>
  <a href = "./add-tech">Add-tech</a>
  <a href = "./technology">Tech-Info</a>
</footer>
